# Mac/OSX
.DS_Store

# Python VENV folder for testing actions python scripts
.venv/

# VIM
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Persistent undo
[._]*.un~

# jet brains
.idea
