---
services:
  apt-cacher-ng:
    restart: always
    image: ghcr.io/mountaintopsolutions/apt-cacher-ng:latest
    init: true
    ports:
    - "3142:3142"
    volumes:
    - .volumes/apt-cacher-ng:/var/cache/apt-cacher-ng
    - .volumes/apt-cacher-ng/config:/etc/apt-cacher-ng/user-config
