name: Build and Publish

on:
  push:
    branches:
      - master
    tags:
      - '*.*.*'
      - '*.*.*-*'  # For versions like 3.7.4-20250125
  pull_request:
    branches:
      - master
  workflow_dispatch:
    branches:
      - master

jobs:

  build-test-image:
    name: Build Image for Testing & Scan Image
    runs-on: ubuntu-latest

    permissions:
      packages: write
      security-events: write
      contents: read

    steps:

      - name: Checkout git repo
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Test Image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: apt-cacher-ng:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64  # Single platform for testing

      - name: Run Trivy for HIGH,CRITICAL CVEs and report (blocking)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: apt-cacher-ng:test
          exit-code: 0
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'HIGH,CRITICAL'
          format: 'sarif'
          output: 'results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
          category: results

  test-integration:
      name: Integration tests in Docker Compose
      needs: [build-test-image]
      runs-on: ubuntu-latest

      steps:
        - name: Checkout git repo
          uses: actions/checkout@v5

  build-and-push-docker-image:
    name: Build and Push Docker Image
    needs: [test-integration]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/mountaintopsolutions/apt-cacher-ng
          tags: |
            type=ref,event=tag
            type=raw,value=latest,enable=${{ github.ref_type == 'tag' }}
            type=sha,prefix=sha-

          # Tag Logic Examples:
          # 1. On tag push (e.g. v3.7.4-20250125):
          #    - ghcr.io/mountaintopsolutions/apt-cacher-ng:3.7.4-20250125
          #    - ghcr.io/mountaintopsolutions/apt-cacher-ng:latest
          #
          # 2. On other branches/PRs:
          #    - ghcr.io/mountaintopsolutions/apt-cacher-ng:sha-123456

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: 'linux/amd64,linux/arm64,linux/arm/v7'

      - name: Login to Github Packages
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to container registries
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64/v8,linux/arm/v7

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
